DB_HOST = db_host
DB_PORT = db_port
DB_NAME = db_name_catalog
DB_USER = db_user
DB_PASSWORD = db_password

EMAIL_HOST=mail_HOST
EMAIL_PORT=mail_PORT
EMAIL_HOST_USER=mail_HOST_USER
EMAIL_PASSWORD=mail_password
EMAIL_USE_TLS=mail_USE_TLS
EMAIL_USE_SSL=mail_USE_SSL

SECRET_KEY=my_SECRET_KEY
DEBUG=my_bool

LOCATION=my_LOCATION